$honda-legal-font-size: 13px;
$honda-vertical-rule-color: $honda-red;

body {
  background-image: none;
  background-repeat: no-repeat;
}

#primary-content {
  margin-top: 0px;
  padding-top: 20px;
}

.branding-container {
  margin-top: 0px;
  margin-bottom: 0px;
}

#footer-container {
  position: relative;
  width: 100%;
  padding-top: 40px;
  background-color: white;
  color: $honda-dark-grey;
}

#footer-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 22px;
  border-top: 1px solid $honda-red;
}

.text-legal {
  font-size: $honda-legal-font-size;
}

.vertical-rule {
  position: relative;
  top: 0px;
  left: auto;
  right: auto;
  width: 1px;
  height: 70px;
  background-color: transparentize($honda-vertical-rule-color, .50);
}

@media (min-width: $screen-md-min){

  #primary-content {
    margin-top: 110px;
    padding-top: 40px;
  }

  body {
    position: relative;
    min-height: 560px;
    background-image: image-url('bg_wall.jpg'), image-url('bg_tiled.png');
    background-repeat: repeat-x, repeat;
    background-color: none;
  }

  .branding-container {
    margin-top: 0;
    margin-bottom: 0;
  }

}
