.container.lte-ie8 {
  display: none;
}

html.lt-ie9 {
  .container {
    display: none;
  }
  .container.lte-ie8 {
    display: block;
  }
}

body {
  background-image: none;
  background-repeat: no-repeat;
}

#primary-content {
  margin-top: 0px;
  padding-top: 20px;
}

.branding-container {
  margin-top: 0px;
  margin-bottom: 0px;
}

#footer-container {
  position: relative;
  width: 100%;
  padding-top: 40px;
  color: white;
}

#footer-content {
  margin-left: 0;
  margin-right: 0;
  padding-top: 22px;
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max){
  #primary-content-column {
    padding-top: 60px;
  }
}

@media (min-width: $screen-md-min){

  #primary-content {
    margin-top: 110px;
    padding-top: 40px;
    min-height: 620px;
  }

  body {
    position: relative;
    min-height: 560px;
    background-image: url($image-path + 'bg_wall.jpg'), url($image-path + 'bg_tiled.png');
    background-repeat: repeat-x, repeat;
    background-color: none;
  }

  .branding-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  #footer-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media (min-width: $screen-lg-min){
  #footer-content {
    width: 70%;
  }
}
