$honda-btn-bg-color: $honda-red;
$hodna-btn-divider-color: $honda-dark-grey;

.btn-honda {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 0px;
  background-image: none;
  background-color: $honda-btn-bg-color;
  color: white;

  .btn-text,
  .btn-icon {
    display: inline-block;
    padding: 10px 12px;
  }

  .btn-text {
    float: left;
    border-right: 1px solid $hodna-btn-divider-color;
    text-transform: uppercase;
  }

  .btn-icon {
    position: relative;
    line-height: inherit;
  }

  &.hover {
    color: $btn-default-color;
    text-decoration: none;
  }

  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.has-children {
    padding: 0;
  }

}
