$honda-branding-footer-bg-color: $honda-dark-grey;
$honda-branding-footer-border-color: #000;

$branding-footer-max-width: 300px;
$branding-footer-height: 70px;
$branding-footer-vertical-padding: 33px;
$branding-footer-bg-image: $image-path + 'bg_logos.png';

$logo-perfect-play-default: $image-path + 'logo_perfect_play_v2.png';
$logo-perfect-play-hires: $image-path + 'logo_perfect_play_v2@2x.png';
$logo-perfect-play-width: 300px;
$logo-perfect-play-height: 259px;
$logo-perfect-play-width-xs: 150px;
$logo-perfect-play-height-xs: 130px;

$logo-little-league-default: $image-path + 'logo_little_league.png';
$logo-little-league-hires: $image-path + 'logo_little_league@2x.png';
$logo-little-league-width: 76px;
$logo-little-league-height: 68px;

$logo-honda-default: $image-path + 'logo_honda.png';
$logo-honda-hires: $image-path + 'logo_honda@2x.png';
$logo-honda-dark-default: $image-path + 'logo_honda_dark.png';
$logo-honda-dark-hires: $image-path + 'logo_honda_dark@2x.png';
$logo-honda-width: 93px;
$logo-honda-height: 59px;

$logo-odyssey-default: $image-path + 'honda_odyssey.png';
$logo-odyssey-hires: $image-path + 'honda_odyssey@2x.png';
$logo-odyssey-width: 329px;
$logo-odyssey-height: 198px;
$logo-odyssey-width-xs: 247px;
$logo-odyssey-height-xs: 149px;

$logo-espn-default: $image-path + 'logo_espn.png';
$logo-espn-hires: $image-path + 'logo_espn@2x.png';
$logo-espn-hover-default: $image-path + 'logo_espn_hover.png';
$logo-espn-hover-hires: $image-path + 'logo_espn_hover@2x.png';
$logo-espn-width: 83px;
$logo-espn-height: 21px;

.branding-footer {
  max-width: $branding-footer-max-width;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: $branding-footer-vertical-padding;
  padding-bottom: $branding-footer-vertical-padding;
  //padding-left: 20px;
  //border-top: 1px solid $honda-branding-footer-border-color;
  //border: 1px solid $honda-branding-footer-border-color;
  //@include box-shadow(inset 0 0 1em #333);
  background-color: #000;
}

#footer-container .branding-footer {
  height: auto;
  margin-bottom: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.logo-container {
  @include center-block();
  background-repeat: no-repeat;
  background-position: center;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &.perfect-play {
    width: $logo-perfect-play-width-xs;
    height: $logo-perfect-play-height-xs;
    margin-left: 0px;
    margin-right: 0px;
    @include img-retina($logo-perfect-play-default, $logo-perfect-play-hires, $logo-perfect-play-width-xs, $logo-perfect-play-height-xs);
  }

  &.little-league {
    width: $logo-little-league-width;
    height: $logo-little-league-height;
    margin-top: ($branding-footer-height - $logo-little-league-height) / 2;
    @include img-retina($logo-little-league-default, $logo-little-league-hires, $logo-little-league-width, $logo-little-league-height);
  }

  &.honda {
    width: $logo-honda-width;
    height: $logo-honda-height;
    margin-top: ($branding-footer-height - $logo-honda-height) / 2;
    @include img-retina($logo-honda-default, $logo-honda-hires, $logo-honda-width, $logo-honda-height);
  }

  &.honda.dark {
    width: $logo-honda-width;
    height: $logo-honda-height;
    margin-top: ($branding-footer-height - $logo-honda-height) / 2;
    @include img-retina($logo-honda-dark-default, $logo-honda-dark-hires, $logo-honda-width, $logo-honda-height);
  }

  &.odyssey {
    width: $logo-odyssey-width-xs;
    height: $logo-odyssey-height-xs;
    @include img-retina($logo-odyssey-default, $logo-odyssey-hires, $logo-odyssey-width-xs, $logo-odyssey-height-xs);
  }

  &.espn {
    display: inline-block;
    width: $logo-espn-width;
    height: $logo-espn-height;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    @include img-retina($logo-espn-default, $logo-espn-hires, $logo-espn-width, $logo-espn-height);

    &:hover {
      @include img-retina($logo-espn-hover-default, $logo-espn-hover-hires, $logo-espn-width, $logo-espn-height);
    }
  }

}


@media (min-width: $screen-sm-min){
  .logo-container {

    &.perfect-play {
      width: $logo-perfect-play-width;
      height: $logo-perfect-play-height;
      margin-left: auto;
      margin-right: auto;
      background-size: $logo-perfect-play-width $logo-perfect-play-height;
    }

    &.odyssey {
      width: 100%;
      max-height: $logo-odyssey-height;
      background-size: contain;
    }
  }
}

/*
@media (min-width: $screen-md-min){
  .branding-footer {
    background-color: $honda-branding-footer-bg-color;
    background-image: url($branding-footer-bg-image);
    background-position: center;
    background-size: cover;
  }
}
*/

@media (min-width: $screen-lg-min){
  .logo-container {
    &.odyssey {
      width: $logo-odyssey-width;
      height: $logo-odyssey-height;
      background-size: $logo-odyssey-width $logo-odyssey-height;
    }
  }
}
