$image-path: "../images/";

// Bootstrap Overrides
$bootstrap-sass-asset-helper: false;

$body-bg: #003d28;
$text-color: #fff;
$font-size-base: 15px;

// Project-specific
$honda-legal-font-size: 13px;
$honda-branding-footer-bg-color: #041014;
$honda-branding-footer-border-color: #de482d;
$honda-vertical-rule-color: #e1482e;
