$image-path: "../images/";
$icon-font-path: '../fonts/';

// Project-specific
$honda-red: #e1482d;
$honda-dark-grey: #003d38;
$honda-dark-blue: #010a10;

// Bootstrap Overrides
$bootstrap-sass-asset-helper: false;
$font-family-sans-serif: 'adelle-sans';

$body-bg: #003d28;
$text-color: #fff;
$font-size-base: 15px;
$link-color: $honda-red;
